@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: rgb(245, 247, 249);
  color: rgb(24, 26, 29);
}

h1 {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a:hover {
  color: #41a7a3;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container {
    top: 0%;
    width: 90vw;
    padding: 30px;
  }
}

.icon:hover {
  transform: scale(1.1);
}

#speaker {
  width: 25px;
  position: relative;
  top: 7px;
  cursor: pointer;
}

#image {
  margin: 10px 0;
  width: 200px;
}

#social-media-icons {
  margin: 0;
  padding: 0;
}

#social-media-icons  > li {
  display: inline-block;
  list-style: none;
  padding: 0 4px;
}

/* Adjusting clickable elements */
#social-media-icons > li > a > img {
  width: 30px;
  margin: 0 8px; /* Increase spacing */
}

/* Adjusting text size for mobile */
@media (max-width: 500px) {
  body, p, a, .company-name {
    font-size: 16px; /* Increase text size */
  }
}

#description {
  margin: 20px 0 0 0;
}
a {
  color: #036259;
  text-decoration: none;
}

.company-name {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.company-name.active {
    opacity: 1;
    display: inline;
}
